<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kabooter | Forgot Password</title>
  <style>
    .mainDiv {
      display: flex;
      height: 98vh;
      align-items: center;
      justify-content: center;
      background-color: #f9f9f9;
      font-family: 'Open Sans', sans-serif;
    }

    .cardStyle {
      width: 500px;
      border-color: white;
      background: #fff;
      padding: 36px 0;
      border-radius: 4px;
      margin: 30px 0;
      box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
    }

    #signupLogo {
      max-height: 100px;
      margin: auto;
      display: flex;
      flex-direction: column;
    }

    .formTitle {
      font-weight: 600;
      margin-top: 20px;
      color: #2F2D3B;
      text-align: center;
    }

    .inputLabel {
      font-size: 12px;
      color: #555;
      margin-bottom: 6px;
      margin-top: 24px;
    }

    .inputDiv {
      width: 70%;
      display: flex;
      flex-direction: column;
      margin: auto;
    }

    input {
      height: 40px;
      font-size: 16px;
      border-radius: 4px;
      border: none;
      border: solid 1px #ccc;
      padding: 0 11px;
    }

    input:disabled {
      cursor: not-allowed;
      border: solid 1px #eee;
    }

    .buttonWrapper {
      margin-top: 40px;
    }

    .submitButton {
      width: 70%;
      height: 40px;
      margin: auto;
      display: block;
      color: #fff;
      background-color: #065492;
      border-color: #065492;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
    }

    .submitButton:disabled,
    button[disabled] {
      border: 1px solid #cccccc;
      background-color: #cccccc;
      color: #666666;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.css">
  <script src="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.min.js"></script>
  <script src="vendors/jquery/dist/jquery.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>

  <div class="mainDiv">
    <% if (is_reset==0) { %>
      <div class="cardStyle">
        <form action="" method="post" name="signupForm" id="signupForm">

          <img src="" id="signupLogo" />

          <h2 class="formTitle">
            Change Password
          </h2>
          <input type="hidden" id="uId" value="<%= id %>" />
          <div class="inputDiv">
            <label class="inputLabel" for="password">New Password</label>
            <input type="password" id="password" name="password" onkeyup="validation('password')" required>
            <span id="password_err" class="m--font-danger" style="color: red;margin-top: 5px;font-size: 13px;"></span>
          </div>

          <div class="inputDiv">
            <label class="inputLabel" for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" onkeyup="validation('confirmPassword')">
            <span id="confirm_password_err" class="m--font-danger" style="color: red;margin-top: 5px;font-size: 13px;"></span>
          </div>

          <div class="buttonWrapper">
            <button type="button" id="change-password-submit" class="submitButton pure-button pure-button-primary">
              Submit
            </button>
          </div>

        </form>
      </div>
        <% } else { %>
          <div class="cardStyle">
            <form action="" method="post" name="signupForm" id="signupForm">

              <img src="" id="signupLogo" />

              <h2 class="formTitle">
                Change Password
              </h2>
              <input type="hidden" id="uId" value="<%= id %>" />
              <div class="inputDiv" style="background: #dff0d8;padding: 12px;border-radius: 7px;color: #3c763d;">
                <div>Your password has been reset successfully. You can now login to Kabooter App.</div>
              </div>
            </form>
          </div>
        <% } %>

  </div>

  <script>
    $("#change-password-submit").click(function () {
      var password = $('#password').val();
      var confirmPassword = $('#confirmPassword').val();
      var user_id = $('#uId').val()
      console.log(user_id);

      var s = '';
      if (password == "") {
        $('#password').focus().css("border", "1px solid #f4516c");
        $('#password_err').html('Field is Required');
        s = 1;
      } else {
        $('#password').blur().css("border", "1px solid #ebedf2");
        $('#password_err').html('');
      }

      if (confirmPassword == "") {
        $('#confirmPassword').focus().css("border", "1px solid #f4516c");
        $('#confirm_password_err').html('Field is Required');
        s = 1;
      } else {
        $('#confirmPassword').blur().css("border", "1px solid #ebedf2");
        $('#confirm_password_err').html('');
      }

      if (password !== confirmPassword) {
        $('#confirmPassword').focus().css("border", "1px solid #f4516c");
        $('#confirm_password_err').html('Password and confirm password does not match');
        s = 1;
      } else {
        $('#confirmPassword').blur().css("border", "1px solid #ebedf2");
        $('#confirm_password_err').html('');
      }

      if (s != 1) {
        //var form = $('#addclasstypeForm')[0];
        //var formData = new FormData(form);
        // console.log($('#addPackageForm').serialize());
        var obj = {}
        obj['password'] = password;
        obj['user_id'] = user_id;

        var data = JSON.stringify(obj)

        $.ajax({
          type: "POST",
          url: "/auth/resetPassword",
          headers: {
            'Content-Type': 'application/json'
          },
          data: data,
          processData: false,
          contentType: false,
          cache: false,
          success: function (response) {
            if (response.status == "SUCCESS") {
              swal({ title: "Success!", text: response.message, type: "success" }, function () { location.reload() })
            }
            else {
              swal("Error!", response.message, "error")
            }
          },
          error: function () {
            swal("Error!", "Something went wrong", "error")
          }

        });
      }
    })

    function validation(key) {
      if (key == 'password') {
        var password = $('#password').val();
        if (password == "") {
          $('#password').css("border", "1px solid #f4516c");
          $('#password_err').html('Field is Required');
          s = 1;
        } else {
          $('#password').css("border", "1px solid #ebedf2");
          $('#password_err').html('');
        }
      }
      else if (key == 'confirmPassword') {
        var confirmPassword = $('#confirmPassword').val();
        if (confirmPassword == "") {
          $('#confirmPassword').css("border", "1px solid #f4516c");
          $('#confirm_password_err').html('Field is Required');
          s = 1;
        } else {
          $('#confirmPassword').css("border", "1px solid #ebedf2");
          $('#confirm_password_err').html('');
        }
      }
      else{
        var password = $('#password').val();
        var confirmPassword = $('#confirmPassword').val();
        if (password !== confirmPassword) {
          $('#confirmPassword').focus().css("border", "1px solid #f4516c");
          $('#confirm_password_err').html('Confirm password not match password');
          s = 1;
        }
        else {
          $('#confirmPassword').blur().css("border", "1px solid #ebedf2");
          $('#confirm_password_err').html('');
        }
      }
    }
  </script>
</body>

</html>